:root {
  --color-light: #f0f2f5;
  --color-blue: #007bff;
  --color-dark-blue: #0056b3;
  --color-gray: #ccc;
  --color-dark: #000000;
}

body {
  font-family: Arial, sans-serif;
  background: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: var(--color-gray);
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  box-sizing: border-box;
}

#senha {
  width: 100%;
  height: 40px;
  padding-right: 45px; /* espaço para o botão */
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  box-sizing: border-box;
}

.teste {
  position: relative;
  width: 300px;
}

.btn-enviar {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background: var(--color-blue);
  color: var(--color-light);
  border: none;
  border-radius: 5px;
}

.btn-verSenha {
  position: absolute;
  right: 10px;
  top: 40%;
  border: none;
  background: transparent;
  font-size: 18px;
}

button:hover {
  background: var(--color-dark-blue);
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

}

a {
  text-decoration: none;
  color: var(--color-dark);
  margin-top: 5%;
  font-size: 15px;
}

a:hover {
  color: var(--color-dark-blue);
}